## Import Packages

In [2]:
import pandas as pd
import numpy as np
import random as rnd

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier #stochastic gradient descent
from sklearn.tree import DecisionTreeClassifier

In [4]:
import xgboost as xgb

C:\Anaconda\envs\Data-X\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Import Data

In [5]:
data = pd.read_csv('founder_V0.3.csv')
data2 = pd.read_csv('founder_V0.3.csv')

In [6]:
data

,Full Name,Primary Job Title,Bio,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success
0,Elon Musk,"Chairman, Product Architect & CEO",Elon co-founded Tesla and continues to oversee...,1,14445,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
1,JB Straubel,Co-Founder and CTO,The story of JB Straubel's career started at a...,1,100,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
2,Mark Zuckerberg,Founder & CEO,Mark Zuckerberg is the founder and CEO of Face...,1,19678,10,6,7,0,0,0,5,"Social Media, Social, Social Network",California,1,2004,0,1,5,1
3,Ross Mason,Founder and VP of Product Strategy,"Created the Mule Project, Founded MuleSoft, go...",1,128,1,6,7,0,0,1,5,"Apps, Enterprise Software, Developer APIs, Fin...",California,1,2006,0,1,2,1
4,Rahul Gandhi,Co-Founder & SVP of Finance Operations,Rahul is a Co-founder & Senior Vice President ...,1,861,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
5,Sam Rosen,Founder & CEO,Sam Rosen is Founder & CEO at MakeSpace.com,1,15,3,1,1,0,0,0,1,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
6,Adam LeVasseur,Co-Founder and CTO,Adam is the Co-founder & CTO of MakeSpace.,1,1,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
7,Tony Fadell,Founder & CEO,Tony Fadell led the team that created the firs...,1,1569,2,5,6,0,0,0,7,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
8,Matt Rogers,Founder & VP of Engineering,Matt Rogers is co-founder and chief product of...,1,310,1,2,2,0,0,0,4,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
9,Marc Benioff,Founder & CEO,Marc Benioff is chairman and CEO of Salesforce...,1,3669,1,73,101,0,3,17,19,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
10,Adam Gross,"CEO, Heroku",Adam Gross is the Senior Vice President of Mar...,1,29,2,1,1,0,0,1,3,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
11,Parker Harris,"Co-Founder, EVP Technology",Parker Harris founded salesforce.com along wit...,1,107,1,1,2,0,0,1,2,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
12,Jack Ma,Founder & Executive Chairman,"Jack Ma, is a Chinese business magnate who is ...",1,2237,4,1,1,2,1,1,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
13,Eddie Wu,Co-Founder & Senior Vice President,Eddie Wu is a Co-Founder of Alibaba Group and ...,1,5,1,1,1,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
14,Jonathan Lu,CEO,CEO at Alibaba.,1,90,1,0,0,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
15,Gwyneth Paltrow,Founder & Chief Executive Officer,Gwyneth Paltrow is one of today_åãå_s most pro...,0,575,1,1,1,0,0,0,1,"E-Commerce, Fashion, Health Care, Beauty, Cont...",California,1,2008,0,1,1,1
16,Eric Kwan,Founding Engineer,0,1,0,1,21,20,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
17,Robin Chan,CEO,"Robin Chan is a serial entrepreneur, angel inv...",1,48,1,3,3,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
18,Derek Jeter,Founder,By the time he stepped away from baseball in 2...,1,451,1,2,3,0,0,1,2,"Sports, Gaming, Digital Media, Social Media",New York,1,2014,0,1,1,1
19,Arianna Huffington,"Founder, CEO",Arianna Huffington is the founder of The Huffi...,0,1330,3,1,1,0,0,0,12,"E-Commerce, Apps, Media and Entertainment, Pro...",New York,1,2016,0,1,1,0
20,Pierre Trudeau,Founder,Pierre Trudeau is Founder at Colubris Networks.,1,436,1,0,0,0,0,0,0,"Wireless, Enterprise Software, ISP",Massachusetts,1,2000,0,0,1,1
21,John Legend,Co-Founder,John Legend is a nine-time Grammy Award winnin...,1,234,1,3,3,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
22,Sergey Sundukovskiy,Founder and CTO,0,1,0,3,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
23,Rob Wright,CEO,0,1,2,2,2,2,0,0,1,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
24,Jon Snyder,Co-Founder & Chief Financial Officer,"Jonathan Snyder is a serial entrepreneur, havi...",1,17,1,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
25,Reese Witherspoon,Co-Founder & Creative Director,Reese Witherspoon is an American actress and p...,0,271,1,0,0,0,0,0,0,Retail,New York,1,2013,0,1,1,0
26,Reed Hastings,Co-Founder & CEO,"In 1991, Reed founded Pure Software, which mad...",1,2764,2,2,3,0,3,1,6,"Digital Entertainment, Video, Consumer Electro...",California,1,1997,0,1,3,1
27,Naval Ravikant,CEO & Founder,Naval Ravikant is the CEO and a co-founder of ...,1,723,6,98,112,1,7,37,12,"Recruiting, Finance",California,1,2010,0,1,3,1
28,Martin Shkreli,Founder & Executive Chairman,Martin Shkreli is the founder and CEO of Turin...,1,1155,2,1,1,0,0,0,0,"Medical, Biotechnology, Biopharma",New York,1,2014,0,1,1,0
29,Jessica Alba,Founder,Jessica Alba is a Golden Globe-nominated actre...,0,581,1,3,3,0,0,0,8,"Dietary Supplements, Lifestyle, E-Commerce",California,1,2011,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18331,Benjamin Lillandt,CEO & Co-founder,0,1,0,1,0,0,0,0,0,0,Information Technology,Sweden,1,2014,0,1,2,0
18332,Julia MacGregor,President and CEO,"Julie MacGregor, MS MBA, is President and CEO ...",0,0,1,0,0,0,0,0,0,Software,Florida,1,0,0,1,1,0
18333,Vinnie Rao,"Founder, CTO",0,1,0,1,0,0,0,0,0,0,"Information Technology, SaaS, Mobile Apps, mHe...",Indiana,1,2015,0,1,1,0
18334,Quan MT,Founder,Founder at Beeketing,1,1,1,0,0,0,0,0,0,"Email Marketing, Marketing Automation, SaaS, E...",Singapore,1,2014,0,1,3,0
18335,Peter Ellegaard,Founder & CEO,Peter provides engineering leadership and year...,1,0,1,0,0,0,0,0,0,Information Technology,California,1,2012,0,1,2,0
18336,victor Zabrockis,Founder & CEO,Founder & CEO of Creative HotHouse; 20 years b...,1,0,1,0,0,0,0,0,0,"Mobile, Internet, Apps, Coupons, Infrastructur...",Singapore,1,2013,0,1,4,1
18337,Anthony Atala,Co-Founder,"Dr. Anthony Atala, M.D. Founded Regenerative M...",1,3,1,0,0,0,0,0,0,"Medical, Health Care, Biotechnology",Pennsylvania,1,2003,0,0,1,1
18338,Kazuhisa Shibayama,Founder & CEO,0,1,0,1,0,0,0,0,0,0,"Property Management, FinTech, Finance",Japan,1,2015,0,1,1,1
18339,Roy Peleg,Co-Founder & CEO,Extensive experience in web publishing and onl...,1,0,1,0,0,0,0,0,0,"Advertising Platforms, Advertising, Mobile Adv...",California,1,2013,0,1,2,0
18340,Oliver Tucker,Co-Founder & CEO,Oliver has spent 30 years in the IT and mobile...,1,0,1,0,0,0,0,0,0,"Wireless, Mobile, IaaS, Internet of Things",United Kingdom,1,2000,0,1,2,1
18341,Jade Wang,Co Founder,0,0,1,1,2,2,0,0,0,0,"Apps, Security, Mobile",California,1,2014,0,1,3,0
18342,Benjamin Silbert,Founder & CEO,New York licensed attorney with expertise in l...,1,0,2,0,0,0,0,0,0,"Nightlife, iOS, Mobile, Analytics, Big Data",New York,1,2011,0,1,2,0
18343,Barbara Rosario,Founder,Founder at Vyrill,0,0,1,0,0,0,0,0,0,"Machine Learning, Content Marketing, Computer ...",California,1,2015,0,1,2,0
18344,Pablo Linz,"Co-Founder, Head of Product & Innovation",0,1,1,1,0,0,0,0,0,0,"Content, E-Commerce",Spain,1,2013,0,1,3,0
18345,Max-Michael Mayer,Managing Director and Co-Founder,Max-Michael Mayer is Managing Director and Co-...,1,1,1,0,0,0,0,0,0,"Real Estate, SaaS",Germany,1,2010,0,1,3,1
18346,Markie Bryant,Co-Founder,0,1,3,1,0,0,0,0,0,0,"Software, Social Media, Digital Marketing, Soc...",Australia,1,2010,0,0,2,0
18347,Margaret Bywater-EkegíÈ_rd,Founder and EVP of Technology & Innovation,Dr. Bywater is a molecular pathologist with ex...,0,0,1,0,0,0,0,0,0,"Agriculture, Biotechnology, Natural Resources",Canada,1,2007,0,1,2,1
18348,Nicolas Shuster,Co-Founder,Co-Founder at FansUnite,1,0,1,0,0,0,0,0,0,"Crowdsourcing, Sports, Social Media",Canada,1,2012,0,1,3,1
18349,Balaji Renukumar,"Founder, CEO",0,1,0,1,0,0,0,0,0,0,"Facility Management, Internet of Things, Facil...",Germany,1,2016,0,1,1,0
18350,Japjot Sethi,Co-Founder & CEO,0,1,0,1,0,0,0,0,0,0,"Mobile, Media and Entertainment, Content Marke...",California,1,2014,0,1,3,0
18351,Marcus Yeo,Founder & CEO,Marcus Yeo is a founder and CEO of the company...,1,1,1,0,0,0,0,0,0,"Health Care, Pharmaceutical, Biotechnology",United Kingdom,1,2012,0,1,5,1
18352,Matthew Dickinson,CEO,0,1,0,1,0,0,0,0,0,0,0,United Kingdom,1,2004,0,1,1,0
18353,Brett Volker,Co-founder,Brett Volker is one of the founders of Listen....,1,0,1,0,0,0,0,0,0,"Social Network, Video Conferencing, Smart Buil...",New York,1,0,0,1,1,0
18354,Aaron Abram,Founder,0,1,0,2,0,0,0,0,0,0,"Customer Service, Market Research, Analytics, ...",California,0,2012,2017,1,2,1
18355,Hemant Gaur,Founder,"Managing Director, an MBA from IRMA, Mr. Gaur ...",1,0,1,0,0,0,0,0,0,"Supply Chain Management, Agriculture",India,1,2008,0,1,1,1
18356,Glenn Shimkus,Co-founder & CEO,0,1,0,1,0,0,0,0,0,0,"Document Management, Transaction Processing, R...",Illinois,1,2009,0,0,2,1
18357,Douglas Keszler,Co-Founder,0,1,0,1,0,0,0,0,0,0,"Semiconductor, Electronics, Manufacturing",Oregon,1,2007,0,1,2,1
18358,Clark Johannson,Co-Founder & Chief Technology Officer,0,1,0,1,0,0,0,0,0,0,"Peer to Peer, Construction, Social Network",Canada,1,2015,0,1,3,0
18359,Stefano Colonna,Founder,Digital serial entrepreneur. Founded and mana...,1,0,1,0,0,0,0,0,0,"E-Commerce, Mobile, Mobile Payments",Massachusetts,1,2009,0,1,1,0
18360,Daniel Hoepfner,Founder,Daniel Hoepfner is founder and managing direct...,1,0,2,0,0,0,0,0,1,"Content Marketing, Mobile, Publishing, Digital...",Germany,1,2011,0,1,2,0

In [7]:
data2

,Full Name,Primary Job Title,Bio,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success
0,Elon Musk,"Chairman, Product Architect & CEO",Elon co-founded Tesla and continues to oversee...,1,14445,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
1,JB Straubel,Co-Founder and CTO,The story of JB Straubel's career started at a...,1,100,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,1
2,Mark Zuckerberg,Founder & CEO,Mark Zuckerberg is the founder and CEO of Face...,1,19678,10,6,7,0,0,0,5,"Social Media, Social, Social Network",California,1,2004,0,1,5,1
3,Ross Mason,Founder and VP of Product Strategy,"Created the Mule Project, Founded MuleSoft, go...",1,128,1,6,7,0,0,1,5,"Apps, Enterprise Software, Developer APIs, Fin...",California,1,2006,0,1,2,1
4,Rahul Gandhi,Co-Founder & SVP of Finance Operations,Rahul is a Co-founder & Senior Vice President ...,1,861,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
5,Sam Rosen,Founder & CEO,Sam Rosen is Founder & CEO at MakeSpace.com,1,15,3,1,1,0,0,0,1,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
6,Adam LeVasseur,Co-Founder and CTO,Adam is the Co-founder & CTO of MakeSpace.,1,1,1,0,0,0,0,0,0,"Internet, Self-Storage, E-Commerce",New York,1,2013,0,0,3,1
7,Tony Fadell,Founder & CEO,Tony Fadell led the team that created the firs...,1,1569,2,5,6,0,0,0,7,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
8,Matt Rogers,Founder & VP of Engineering,Matt Rogers is co-founder and chief product of...,1,310,1,2,2,0,0,0,4,"Sensor, Smart Home, Manufacturing",California,1,2010,0,1,2,1
9,Marc Benioff,Founder & CEO,Marc Benioff is chairman and CEO of Salesforce...,1,3669,1,73,101,0,3,17,19,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
10,Adam Gross,"CEO, Heroku",Adam Gross is the Senior Vice President of Mar...,1,29,2,1,1,0,0,1,3,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
11,Parker Harris,"Co-Founder, EVP Technology",Parker Harris founded salesforce.com along wit...,1,107,1,1,2,0,0,1,2,"CRM, Cloud Computing, SaaS, Enterprise Software",California,1,1999,0,1,2,1
12,Jack Ma,Founder & Executive Chairman,"Jack Ma, is a Chinese business magnate who is ...",1,2237,4,1,1,2,1,1,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
13,Eddie Wu,Co-Founder & Senior Vice President,Eddie Wu is a Co-Founder of Alibaba Group and ...,1,5,1,1,1,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
14,Jonathan Lu,CEO,CEO at Alibaba.,1,90,1,0,0,0,0,0,0,"E-Commerce, Marketplace, Shopping",China,1,1999,0,1,2,1
15,Gwyneth Paltrow,Founder & Chief Executive Officer,Gwyneth Paltrow is one of today_åãå_s most pro...,0,575,1,1,1,0,0,0,1,"E-Commerce, Fashion, Health Care, Beauty, Cont...",California,1,2008,0,1,1,1
16,Eric Kwan,Founding Engineer,0,1,0,1,21,20,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
17,Robin Chan,CEO,"Robin Chan is a serial entrepreneur, angel inv...",1,48,1,3,3,0,0,2,0,"Search Engine, E-Commerce Platforms, Fashion",California,1,2014,0,1,3,1
18,Derek Jeter,Founder,By the time he stepped away from baseball in 2...,1,451,1,2,3,0,0,1,2,"Sports, Gaming, Digital Media, Social Media",New York,1,2014,0,1,1,1
19,Arianna Huffington,"Founder, CEO",Arianna Huffington is the founder of The Huffi...,0,1330,3,1,1,0,0,0,12,"E-Commerce, Apps, Media and Entertainment, Pro...",New York,1,2016,0,1,1,0
20,Pierre Trudeau,Founder,Pierre Trudeau is Founder at Colubris Networks.,1,436,1,0,0,0,0,0,0,"Wireless, Enterprise Software, ISP",Massachusetts,1,2000,0,0,1,1
21,John Legend,Co-Founder,John Legend is a nine-time Grammy Award winnin...,1,234,1,3,3,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
22,Sergey Sundukovskiy,Founder and CTO,0,1,0,3,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
23,Rob Wright,CEO,0,1,2,2,2,2,0,0,1,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
24,Jon Snyder,Co-Founder & Chief Financial Officer,"Jonathan Snyder is a serial entrepreneur, havi...",1,17,1,0,0,0,0,0,0,"Fashion, E-Commerce, Lifestyle, Shopping",Nevada,1,2013,0,1,5,0
25,Reese Witherspoon,Co-Founder & Creative Director,Reese Witherspoon is an American actress and p...,0,271,1,0,0,0,0,0,0,Retail,New York,1,2013,0,1,1,0
26,Reed Hastings,Co-Founder & CEO,"In 1991, Reed founded Pure Software, which mad...",1,2764,2,2,3,0,3,1,6,"Digital Entertainment, Video, Consumer Electro...",California,1,1997,0,1,3,1
27,Naval Ravikant,CEO & Founder,Naval Ravikant is the CEO and a co-founder of ...,1,723,6,98,112,1,7,37,12,"Recruiting, Finance",California,1,2010,0,1,3,1
28,Martin Shkreli,Founder & Executive Chairman,Martin Shkreli is the founder and CEO of Turin...,1,1155,2,1,1,0,0,0,0,"Medical, Biotechnology, Biopharma",New York,1,2014,0,1,1,0
29,Jessica Alba,Founder,Jessica Alba is a Golden Globe-nominated actre...,0,581,1,3,3,0,0,0,8,"Dietary Supplements, Lifestyle, E-Commerce",California,1,2011,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18331,Benjamin Lillandt,CEO & Co-founder,0,1,0,1,0,0,0,0,0,0,Information Technology,Sweden,1,2014,0,1,2,0
18332,Julia MacGregor,President and CEO,"Julie MacGregor, MS MBA, is President and CEO ...",0,0,1,0,0,0,0,0,0,Software,Florida,1,0,0,1,1,0
18333,Vinnie Rao,"Founder, CTO",0,1,0,1,0,0,0,0,0,0,"Information Technology, SaaS, Mobile Apps, mHe...",Indiana,1,2015,0,1,1,0
18334,Quan MT,Founder,Founder at Beeketing,1,1,1,0,0,0,0,0,0,"Email Marketing, Marketing Automation, SaaS, E...",Singapore,1,2014,0,1,3,0
18335,Peter Ellegaard,Founder & CEO,Peter provides engineering leadership and year...,1,0,1,0,0,0,0,0,0,Information Technology,California,1,2012,0,1,2,0
18336,victor Zabrockis,Founder & CEO,Founder & CEO of Creative HotHouse; 20 years b...,1,0,1,0,0,0,0,0,0,"Mobile, Internet, Apps, Coupons, Infrastructur...",Singapore,1,2013,0,1,4,1
18337,Anthony Atala,Co-Founder,"Dr. Anthony Atala, M.D. Founded Regenerative M...",1,3,1,0,0,0,0,0,0,"Medical, Health Care, Biotechnology",Pennsylvania,1,2003,0,0,1,1
18338,Kazuhisa Shibayama,Founder & CEO,0,1,0,1,0,0,0,0,0,0,"Property Management, FinTech, Finance",Japan,1,2015,0,1,1,1
18339,Roy Peleg,Co-Founder & CEO,Extensive experience in web publishing and onl...,1,0,1,0,0,0,0,0,0,"Advertising Platforms, Advertising, Mobile Adv...",California,1,2013,0,1,2,0
18340,Oliver Tucker,Co-Founder & CEO,Oliver has spent 30 years in the IT and mobile...,1,0,1,0,0,0,0,0,0,"Wireless, Mobile, IaaS, Internet of Things",United Kingdom,1,2000,0,1,2,1
18341,Jade Wang,Co Founder,0,0,1,1,2,2,0,0,0,0,"Apps, Security, Mobile",California,1,2014,0,1,3,0
18342,Benjamin Silbert,Founder & CEO,New York licensed attorney with expertise in l...,1,0,2,0,0,0,0,0,0,"Nightlife, iOS, Mobile, Analytics, Big Data",New York,1,2011,0,1,2,0
18343,Barbara Rosario,Founder,Founder at Vyrill,0,0,1,0,0,0,0,0,0,"Machine Learning, Content Marketing, Computer ...",California,1,2015,0,1,2,0
18344,Pablo Linz,"Co-Founder, Head of Product & Innovation",0,1,1,1,0,0,0,0,0,0,"Content, E-Commerce",Spain,1,2013,0,1,3,0
18345,Max-Michael Mayer,Managing Director and Co-Founder,Max-Michael Mayer is Managing Director and Co-...,1,1,1,0,0,0,0,0,0,"Real Estate, SaaS",Germany,1,2010,0,1,3,1
18346,Markie Bryant,Co-Founder,0,1,3,1,0,0,0,0,0,0,"Software, Social Media, Digital Marketing, Soc...",Australia,1,2010,0,0,2,0
18347,Margaret Bywater-EkegíÈ_rd,Founder and EVP of Technology & Innovation,Dr. Bywater is a molecular pathologist with ex...,0,0,1,0,0,0,0,0,0,"Agriculture, Biotechnology, Natural Resources",Canada,1,2007,0,1,2,1
18348,Nicolas Shuster,Co-Founder,Co-Founder at FansUnite,1,0,1,0,0,0,0,0,0,"Crowdsourcing, Sports, Social Media",Canada,1,2012,0,1,3,1
18349,Balaji Renukumar,"Founder, CEO",0,1,0,1,0,0,0,0,0,0,"Facility Management, Internet of Things, Facil...",Germany,1,2016,0,1,1,0
18350,Japjot Sethi,Co-Founder & CEO,0,1,0,1,0,0,0,0,0,0,"Mobile, Media and Entertainment, Content Marke...",California,1,2014,0,1,3,0
18351,Marcus Yeo,Founder & CEO,Marcus Yeo is a founder and CEO of the company...,1,1,1,0,0,0,0,0,0,"Health Care, Pharmaceutical, Biotechnology",United Kingdom,1,2012,0,1,5,1
18352,Matthew Dickinson,CEO,0,1,0,1,0,0,0,0,0,0,0,United Kingdom,1,2004,0,1,1,0
18353,Brett Volker,Co-founder,Brett Volker is one of the founders of Listen....,1,0,1,0,0,0,0,0,0,"Social Network, Video Conferencing, Smart Buil...",New York,1,0,0,1,1,0
18354,Aaron Abram,Founder,0,1,0,2,0,0,0,0,0,0,"Customer Service, Market Research, Analytics, ...",California,0,2012,2017,1,2,1
18355,Hemant Gaur,Founder,"Managing Director, an MBA from IRMA, Mr. Gaur ...",1,0,1,0,0,0,0,0,0,"Supply Chain Management, Agriculture",India,1,2008,0,1,1,1
18356,Glenn Shimkus,Co-founder & CEO,0,1,0,1,0,0,0,0,0,0,"Document Management, Transaction Processing, R...",Illinois,1,2009,0,0,2,1
18357,Douglas Keszler,Co-Founder,0,1,0,1,0,0,0,0,0,0,"Semiconductor, Electronics, Manufacturing",Oregon,1,2007,0,1,2,1
18358,Clark Johannson,Co-Founder & Chief Technology Officer,0,1,0,1,0,0,0,0,0,0,"Peer to Peer, Construction, Social Network",Canada,1,2015,0,1,3,0
18359,Stefano Colonna,Founder,Digital serial entrepreneur. Founded and mana...,1,0,1,0,0,0,0,0,0,"E-Commerce, Mobile, Mobile Payments",Massachusetts,1,2009,0,1,1,0
18360,Daniel Hoepfner,Founder,Daniel Hoepfner is founder and managing direct...,1,0,2,0,0,0,0,0,1,"Content Marketing, Mobile, Publishing, Digital...",Germany,1,2011,0,1,2,0

# Data Prep

In [12]:
list(data)

data = data.drop(['Full Name','Bio'], axis=1)

list(data)

['Primary Job Title',
 'Gender',
 'Number of News Articles',
 'Number of Founded Organizations',
 'Number of Portfolio Companies',
 'Number of Investments_x',
 'Number of Partner Investments',
 'Number of Lead Investments_x',
 'Number of Exits_x',
 'Number of Events_x',
 'Categories',
 'Headquarters Location ',
 'Operating Status',
 'Founded Date',
 'Closed Date',
 'Company Type',
 'Number of Founders',
 'Success']

In [13]:
from sklearn import preprocessing 

HQ = preprocessing.LabelEncoder()
#to convert into numbers
data['Headquarters Location '] = HQ.fit_transform(data['Headquarters Location '])

CAT = preprocessing.LabelEncoder()
#to convert into numbers
data['Categories'] = CAT.fit_transform(data['Categories'])

FOUNDER = preprocessing.LabelEncoder()
#to convert into numbers
data['Primary Job Title'] = FOUNDER.fit_transform(data['Primary Job Title'])

In [14]:
# Transform "Other" Gender
data['Gender'][data['Gender']=='Prefer not to identify'] = 2

C:\Anaconda\envs\Data-X\lib\site-packages\pandas\core\ops.py:816: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [15]:
list(data)
data['Gender'] = data['Gender'].astype(int)

In [16]:
data

,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Success
0,367,1,14445,7,11,21,0,9,6,2,5074,17,1,2003,0,1,4,1
1,994,1,100,2,1,1,0,0,0,1,5074,17,1,2003,0,1,4,1
2,1815,1,19678,10,6,7,0,0,0,5,8725,17,1,2004,0,1,5,1
3,2083,1,128,1,6,7,0,0,1,5,566,17,1,2006,0,1,2,1
4,836,1,861,1,0,0,0,0,0,0,5343,85,1,2013,0,0,3,1
5,1815,1,15,3,1,1,0,0,0,1,5343,85,1,2013,0,0,3,1
6,994,1,1,1,0,0,0,0,0,0,5343,85,1,2013,0,0,3,1
7,1815,1,1569,2,5,6,0,0,0,7,8376,17,1,2010,0,1,2,1
8,1961,1,310,1,2,2,0,0,0,4,8376,17,1,2010,0,1,2,1
9,1815,1,3669,1,73,101,0,3,17,19,1433,17,1,1999,0,1,2,1
10,159,1,29,2,1,1,0,0,1,3,1433,17,1,1999,0,1,2,1
11,1245,1,107,1,1,2,0,0,1,2,1433,17,1,1999,0,1,2,1
12,1899,1,2237,4,1,1,2,1,1,0,2947,22,1,1999,0,1,2,1
13,841,1,5,1,1,1,0,0,0,0,2947,22,1,1999,0,1,2,1
14,29,1,90,1,0,0,0,0,0,0,2947,22,1,1999,0,1,2,1
15,1857,0,575,1,1,1,0,0,0,1,2873,17,1,2008,0,1,1,1
16,2298,1,0,1,21,20,0,0,2,0,8194,17,1,2014,0,1,3,1
17,29,1,48,1,3,3,0,0,2,0,8194,17,1,2014,0,1,3,1
18,1807,1,451,1,2,3,0,0,1,2,9243,85,1,2014,0,1,1,1
19,2104,0,1330,3,1,1,0,0,0,12,2824,85,1,2016,0,1,1,0
20,1807,1,436,1,0,0,0,0,0,0,10088,70,1,2000,0,0,1,1
21,613,1,234,1,3,3,0,0,0,0,3702,81,1,2013,0,1,5,0
22,2031,1,0,3,0,0,0,0,0,0,3702,81,1,2013,0,1,5,0
23,29,1,2,2,2,2,0,0,1,0,3702,81,1,2013,0,1,5,0
24,669,1,17,1,0,0,0,0,0,0,3702,81,1,2013,0,1,5,0
25,722,0,271,1,0,0,0,0,0,0,7768,85,1,2013,0,1,1,0
26,625,1,2764,2,2,3,0,3,1,6,2689,17,1,1997,0,1,3,1
27,66,1,723,6,98,112,1,7,37,12,7636,17,1,2010,0,1,3,1
28,1899,1,1155,2,1,1,0,0,0,0,6091,85,1,2014,0,1,1,0
29,1807,0,581,1,3,3,0,0,0,8,2672,17,1,2011,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18331,57,1,0,1,0,0,0,0,0,0,4943,118,1,2014,0,1,2,0
18332,2401,0,0,1,0,0,0,0,0,0,8816,36,1,0,0,1,1,0
18333,2139,1,0,1,0,0,0,0,0,0,5045,49,1,2015,0,1,1,0
18334,1807,1,1,1,0,0,0,0,0,0,3272,109,1,2014,0,1,3,0
18335,1815,1,0,1,0,0,0,0,0,0,4943,17,1,2012,0,1,2,0
18336,1815,1,0,1,0,0,0,0,0,0,6502,109,1,2013,0,1,4,1
18337,613,1,3,1,0,0,0,0,0,0,6111,98,1,2003,0,0,1,1
18338,1815,1,0,1,0,0,0,0,0,0,7383,57,1,2015,0,1,1,1
18339,625,1,0,1,0,0,0,0,0,0,86,17,1,2013,0,1,2,0
18340,625,1,0,1,0,0,0,0,0,0,10103,130,1,2000,0,1,2,1
18341,528,0,1,1,2,2,0,0,0,0,642,17,1,2014,0,1,3,0
18342,1815,1,0,2,0,0,0,0,0,0,6799,85,1,2011,0,1,2,0
18343,1807,0,0,1,0,0,0,0,0,0,5710,17,1,2015,0,1,2,0
18344,1267,1,1,1,0,0,0,0,0,0,2126,116,1,2013,0,1,3,0
18345,2364,1,1,1,0,0,0,0,0,0,7550,39,1,2010,0,1,3,1
18346,613,1,3,1,0,0,0,0,0,0,9165,8,1,2010,0,0,2,0
18347,2056,0,0,1,0,0,0,0,0,0,220,19,1,2007,0,1,2,1
18348,613,1,0,1,0,0,0,0,0,0,2285,19,1,2012,0,1,3,1
18349,2104,1,0,1,0,0,0,0,0,0,3664,39,1,2016,0,1,1,0
18350,625,1,0,1,0,0,0,0,0,0,6520,17,1,2014,0,1,3,0
18351,1815,1,1,1,0,0,0,0,0,0,4557,130,1,2012,0,1,5,1
18352,29,1,0,1,0,0,0,0,0,0,0,130,1,2004,0,1,1,0
18353,1390,1,0,1,0,0,0,0,0,0,8779,85,1,0,0,1,1,0
18354,1807,1,0,2,0,0,0,0,0,0,2325,17,0,2012,2017,1,2,1
18355,1807,1,0,1,0,0,0,0,0,0,9297,48,1,2008,0,1,1,1
18356,1396,1,0,1,0,0,0,0,0,0,2769,47,1,2009,0,0,2,1
18357,613,1,0,1,0,0,0,0,0,0,8359,95,1,2007,0,1,2,1
18358,703,1,0,1,0,0,0,0,0,0,7037,19,1,2015,0,1,3,0
18359,1807,1,0,1,0,0,0,0,0,0,2958,70,1,2009,0,1,1,0
18360,1807,1,0,2,0,0,0,0,0,1,2108,39,1,2011,0,1,2,0

## Train Test Split

In [17]:
from sklearn.model_selection import train_test_split

X_data = data.iloc[:,:-1] 
Y_data = data['Success'] 
    
print("Feature vector shape=", X_data.shape)
print("Class shape=", Y_data.shape)

Feature vector shape= (18361, 17)
Class shape= (18361,)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size = 0.2 , random_state=100)

# Algorithm Tests

In [19]:
# XGBoost

gradboost = xgb.XGBClassifier(n_estimators=10000)
gradboost.fit(x_train, y_train)
y_pred_xgb = gradboost.predict(x_test)

acc_gradboost_train = round(gradboost.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_gradboost_train)

acc_gradboost_test = round(gradboost.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_gradboost_test)

Train accuracy:  96.83
Test accuracy:  82.49

In [20]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=10000)
random_forest.fit(x_train, y_train)
y_pred_rnf = random_forest.predict(x_test)
random_forest.score(x_train, y_train)

acc_random_forest_train = round(random_forest.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_random_forest_train)

acc_random_forest_test = round(random_forest.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_random_forest_test)

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000001DFF10D56D8>>
Traceback (most recent call last):
  File "C:\Anaconda\envs\Data-X\lib\site-packages\xgboost\core.py", line 324, in __del__
    _check_call(_LIB.XGDMatrixFree(self.handle))
AttributeError: 'DMatrix' object has no attribute 'handle'

Train accuracy:  100.0
Test accuracy:  81.46

In [36]:
# Look at importnace of features for random forest

def plot_model_var_imp( model , X , y ):
    imp = pd.DataFrame( 
        model.feature_importances_  , 
        columns = [ 'Importance' ] , 
        index = X.columns 
    )
    imp = imp.sort_values( [ 'Importance' ] , ascending = True )
    imp[ : 10 ].plot( kind = 'barh' )
    print (model.score( X , y ))

plot_model_var_imp(random_forest, x_train, y_train)

1.0

In [37]:
# Logistic Regression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred_log = logreg.predict(x_test)

acc_log_train = round(logreg.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_log_train)

acc_log_test = round(logreg.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_log_test)

Train accuracy:  64.69
Test accuracy:  63.19

In [ ]:
# Support Vector Machines

svc = SVC()
svc.fit(x_train, y_train)
y_pred_svm = svc.predict(x_test)

acc_svc_train = round(svc.score(x_train, y_train) * 100, 2)
print("Train accuracy: ",acc_svc_train)

acc_svc_test = round(svc.score(x_test,y_test) * 100, 2)
print("Test accuracy: ",acc_svc_test)

# Lasso

In [41]:
#Importing libraries. The same will be used throughout the article.

import random
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 10

import warnings
warnings.filterwarnings('ignore')

In [48]:
#data.to_csv('out.csv', sep=',')
dataLas = pd.read_csv('Lasso.csv')

In [50]:
#dataLas

In [52]:
for i in range(2,17):  #power of 1 is already there
    colname = 'x_%d'%i      #new var will be x_power
    dataLas[colname] = dataLas['x']**i
print(dataLas.head())

KeyError: 'x'

In [ ]:
#Import Linear Regression model from scikit-learn.
from sklearn.linear_model import LinearRegression
def linear_regression(data, power, models_to_plot):
    #initialize predictors:
    predictors=['x']
    if power>=2:
        predictors.extend(['x_%d'%i for i in range(2,power+1)])
    
    #Fit the model
    linreg = LinearRegression(normalize=True)
    linreg.fit(data[predictors],data['y'])
    y_pred = linreg.predict(data[predictors])
    
    #Check if a plot is to be made for the entered power
    if power in models_to_plot:
        plt.subplot(models_to_plot[power])
        plt.tight_layout()
        plt.plot(data['x'],y_pred)
        plt.plot(data['x'],data['y'],'.',ms=10)
        plt.title('Plot for power: %d'%power)
    
    #Return the result in pre-defined format
    rss = sum((y_pred-data['y'])**2)
    ret = [rss]
    ret.extend([linreg.intercept_])
    ret.extend(linreg.coef_)
    return ret

In [ ]:
#Initialize a dataframe to store the results:
col = ['rss','intercept'] + ['coef_x_%d'%i for i in range(1,17)]
ind = ['model_pow_%d'%i for i in range(1,17)]
coef_matrix_simple = pd.DataFrame(index=ind, columns=col)

#Define the powers for which a plot is required:
models_to_plot = {1:231,3:232,6:233,9:234,12:235,15:236}

#Iterate through all powers and assimilate results
for i in range(1,17):
    coef_matrix_simple.iloc[i-1,0:i+2] = linear_regression(data, power=i, models_to_plot=models_to_plot)

In [ ]:
#Set the display format to be scientific for ease of analysis
pd.options.display.float_format = '{:,.2g}'.format
coef_matrix_simple

In [ ]:
from sklearn.linear_model import Ridge
def ridge_regression(data, predictors, alpha, models_to_plot={}):
    #Fit the model
    ridgereg = Ridge(alpha=alpha,normalize=True)
    ridgereg.fit(data[predictors],data['y'])
    y_pred = ridgereg.predict(data[predictors])
    
    #Check if a plot is to be made for the entered alpha
    if alpha in models_to_plot:
        plt.subplot(models_to_plot[alpha])
        plt.tight_layout()
        plt.plot(data['x'],y_pred)
        plt.plot(data['x'],data['y'],'.')
        plt.title('Plot for alpha: %.3g'%alpha)
    
    #Return the result in pre-defined format
    rss = sum((y_pred-data['y'])**2)
    ret = [rss]
    ret.extend([ridgereg.intercept_])
    ret.extend(ridgereg.coef_)
    return ret

In [ ]:
#Initialize predictors to be set of 15 powers of x
predictors=['x']
predictors.extend(['x_%d'%i for i in range(2,17)])

#Set the different values of alpha to be tested
alpha_ridge = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]

#Initialize the dataframe for storing coefficients.
col = ['rss','intercept'] + ['coef_x_%d'%i for i in range(1,16)]
ind = ['alpha_%.2g'%alpha_ridge[i] for i in range(0,10)]
coef_matrix_ridge = pd.DataFrame(index=ind, columns=col)

models_to_plot = {1e-15:231, 1e-10:232, 1e-4:233, 1e-3:234, 1e-2:235, 5:236}
for i in range(10):
    coef_matrix_ridge.iloc[i,] = ridge_regression(data, predictors, alpha_ridge[i], models_to_plot)

# Tensorflow

In [14]:
# Python 2 and 3 support
from __future__ import division, print_function,unicode_literals

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Hide warnings
import warnings
warnings.filterwarnings('ignore')

In [15]:
# Canonical way of importing TensorFlow
import tensorflow as tf

In [16]:
tf.reset_default_graph()

In [17]:
# define features
feature_cols = tf.contrib.learn.infer_real_valued_columns_from_input(x_train)

# dense neural network classifier
# three layers 300, 200 and 100
# 10 classes
dnn_clf = tf.contrib.learn.DNNClassifier(hidden_units=[200,200], n_classes=2,
                                         feature_columns=feature_cols)

# if TensorFlow >= 1.1, make compatible with sklearn
dnn_clf = tf.contrib.learn.SKCompat(dnn_clf)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\HYTIRO~1\AppData\Local\Temp\tmp9luf2qbk
INFO:tensorflow:Using config: {'_task_type': None, '_task_id': 0, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002D1BCA70320>, '_master': '', '_num_ps_replicas': 0, '_num_worker_replicas': 0, '_environment': 'local', '_is_chief': True, '_evaluation_master': '', '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1
}
, '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_log_step_count_steps': 100, '_session_config': None, '_save_checkpoints_steps': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_model_dir': 'C:\\Users\\HYTIRO~1\\AppData\\Local\\Temp\\tmp9luf2qbk'}

In [18]:
# fit the model, 4000 iterations
dnn_clf.fit(x_train, y_train, batch_size=50, steps=1000)

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:From C:\Anaconda\envs\Data-X\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\dnn.py:192: get_global_step (from tensorflow.contrib.framework.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Please switch to tf.train.get_global_step
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'int64'> labels to bool.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\HYTIRO~1\AppData\Local\Temp\tmp9luf2qbk\model.ckpt.
INFO:tensorflow:loss = 211.519, step = 1
INFO:tensorflow:global_step/sec: 448.192
INFO:tensorflow:loss = 5.05335, step = 101 (0.224 sec)
INFO:tensorflow:global_step/sec: 461.578
INFO:tensorflow:loss = 2.53212, step = 201 (0.219 sec)
INFO:tensorflow:global_step/sec: 440.325
INFO:tensorflow:loss = 1.37192, step = 301 (0.225 sec)
INFO:tensorflow:global_step/sec: 501.177
INFO:tensorflow:loss = 0.907013, step = 401 (0.200 sec)
INFO:tensorflow:global_step/sec: 484.113
INFO:tensorflow:loss = 1.30535, step = 501 (0.207 sec)
INFO:tensorflow:global_step/sec: 496.903
INFO:tensorflow:loss = 1.14196, step = 601 (0.201 sec)
INFO:tensorflow:global_step/sec: 480.618
INFO:tensorflow:loss = 0.61536, step = 701 (0.209 sec)
INFO:tensorflow:global_step/sec: 411.071
INFO:tensorflow:loss = 0.55399, step = 801 (0.242 sec)
INFO:tensorflow:global_step/sec: 501.18
INFO:tensorflow:loss = 0.55699, step = 901 (0.200 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\HYTIRO~1\AppData\Local\Temp\tmp9luf2qbk\model.ckpt.
INFO:tensorflow:Loss for final step: 0.584411.

SKCompat()

In [19]:
# Calculate accuracies
from sklearn.metrics import accuracy_score

y_pred = dnn_clf.predict(x_test)
print()
print('Accuracy',accuracy_score(y_test, y_pred['classes']))

WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
INFO:tensorflow:Restoring parameters from C:\Users\HYTIRO~1\AppData\Local\Temp\tmp9luf2qbk\model.ckpt-1000

Accuracy 0.629896526238

In [23]:
# Define hyperparameters and input size

n_inputs = 17
n_hidden1 = 200
n_hidden2 = 200
n_outputs = 2

In [26]:
# Placeholders for data (inputs and targets)
X = tf.placeholder(tf.float32, shape=(None, n_inputs), name="X")
y = tf.placeholder(tf.int64, shape=(None), name="y")

In [27]:
# Define neuron layers (ReLU in hidden layers)
# We'll take care of Softmax for output with loss function

def neuron_layer(X, n_neurons, name, activation=None):
    # X input to neuron
    # number of neurons for the layer
    # name of layer
    # pass in eventual activation function
    
    with tf.name_scope(name):
        n_inputs = int(X.get_shape()[1])
        
        # initialize weights to prevent vanishing / exploding gradients
        stddev = 2 / np.sqrt(n_inputs)
        init = tf.truncated_normal((n_inputs, n_neurons), stddev=stddev)
        
        # Initialize weights for the layer
        W = tf.Variable(init, name="kernel")
        # biases
        b = tf.Variable(tf.zeros([n_neurons]), name="bias")
        
        # Output from every neuron
        Z = tf.matmul(X, W) + b
        if activation is not None:
            return activation(Z)
        else:
            return Z

In [28]:
# Define the hidden layers
with tf.name_scope("dnn"):
    hidden1 = neuron_layer(X, n_hidden1, name="hidden1",
                           activation=tf.nn.leaky_relu)
    drop_out1 = tf.nn.dropout(hidden1, 0.9)
    hidden2 = neuron_layer(hidden1, n_hidden2, name="hidden2",
                           activation=tf.nn.leaky_relu)
    drop_out1 = tf.nn.dropout(hidden2, 0.9)
    
    logits = neuron_layer(hidden2, n_outputs, name="outputs")

In [29]:
# Define loss function (that also optimizes Softmax for output):

with tf.name_scope("loss"):
    # logits are from the last output of the dnn
    xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(labels=y,
                                                              logits=logits)
    loss = tf.reduce_mean(xentropy, name="loss")

In [30]:
# Training step with Gradient Descent

learning_rate = 0.01

with tf.name_scope("train"):
    optimizer = tf.train.GradientDescentOptimizer(learning_rate)
    training_op = optimizer.minimize(loss)

In [36]:
for i in range(5000):
    sess.run(data, {x: x_train, y: y_train})

NameError: name 'x' is not defined

# NLP

In [55]:
# import packages

import bs4 as bs
import nltk

# nltk.download('all')
from nltk.tokenize import sent_tokenize # tokenizes sentences
import re

from nltk.stem import PorterStemmer
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

eng_stopwords = stopwords.words('english')

In [118]:
dataNLP = pd.read_csv('founder_V0.3.csv')

#train['Bio'] = dataNLP['Bio']
#train['Success'] = dataNLP['Success']
# train.shape should be (25000,3)

In [119]:
dataNLP.head()

dataClean = dataNLP[['Success','Bio']].copy()
dataClean = dataClean.rename(index=str, columns={"Success": "sentiment", "Bio": "review"})

In [125]:
dataClean['review'] = dataClean['review'].astype(str)

In [126]:
dataClean.head()

   sentiment                                             review
0          1  Elon co-founded Tesla and continues to oversee...
1          1  The story of JB Straubel's career started at a...
2          1  Mark Zuckerberg is the founder and CEO of Face...
3          1  Created the Mule Project, Founded MuleSoft, go...
4          1  Rahul is a Co-founder & Senior Vice President ...

In [132]:
# 1. 
from nltk.corpus import stopwords
from nltk.util import ngrams


ps = PorterStemmer()
wnl = WordNetLemmatizer()


def review_cleaner(reviews,lemmatize=True,stem=False):
    '''
    Clean and preprocess a review.

    1. Remove HTML tags
    2. Use regex to remove all special characters (only keep letters)
    3. Make strings to lower case and tokenize / word split reviews
    4. Remove English stopwords
    5. Rejoin to one string
    '''
    ps = PorterStemmer()
    wnl = WordNetLemmatizer()
        #1. Remove HTML tags
    
    cleaned_reviews=[]
    for i,review in enumerate(reviews):
    # print progress
        if( (i+1)%500 == 0 ):
            print("Done with %d reviews" %(i+1))
        review = bs.BeautifulSoup(review).text

        #2. Use regex to find emoticons
        emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)', review)

        #3. Remove punctuation
        review = re.sub("[^a-zA-Z]", " ",review)

        #4. Tokenize into words (all lower case)
        review = review.lower().split()

        #5. Remove stopwords
        eng_stopwords = set(stopwords.words("english"))
            
        clean_review=[]
        for word in review:
            if word not in eng_stopwords:
                if lemmatize is True:
                    word=wnl.lemmatize(word)
                elif stem is True:
                    if word == 'oed':
                        continue
                    word=ps.stem(word)
                clean_review.append(word)

        #6. Join the review to one sentence
        
        review_processed = ' '.join(clean_review+emoticons)
        cleaned_reviews.append(review_processed)
    

    return(cleaned_reviews)

In [133]:
from sklearn.ensemble import RandomForestClassifier
# # CountVectorizer can actucally handle a lot of the preprocessing for us
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics # for confusion matrix, accuracy score etc
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix


np.random.seed(0)


def train_predict_sentiment(cleaned_reviews, y=dataClean["sentiment"],ngram=1,max_features=1000):
    '''This function will:
    1. split data into train and test set.
    2. get n-gram counts from cleaned reviews 
    3. train a random forest model using train n-gram counts and y (labels)
    4. test the model on your test split
    5. print accuracy of sentiment prediction on test and training data
    6. print confusion matrix on test data results

    To change n-gram type, set value of ngram argument
    To change the number of features you want the countvectorizer to generate, set the value of max_features argument'''

    print("Creating the bag of words model!\n")
    # CountVectorizer" is scikit-learn's bag of words tool, here we show more keywords 
    vectorizer = CountVectorizer(ngram_range=(1, ngram),analyzer = "word",   \
                                 tokenizer = None,    \
                                 preprocessor = None, \
                                 stop_words = None,   \
                                 max_features = max_features) 
    
    X_train, X_test, y_train, y_test = train_test_split(\
    cleaned_reviews, y, random_state=0, test_size=.2)

    # Then we use fit_transform() to fit the model / learn the vocabulary,
    # then transform the data into feature vectors.
    # The input should be a list of strings. .toarraty() converts to a numpy array
    
    train_bag = vectorizer.fit_transform(X_train).toarray()
    test_bag = vectorizer.transform(X_test).toarray()
#     print('TOP 20 FEATURES ARE: ',(vectorizer.get_feature_names()[:20]))


    print("Training the random forest classifier!\n")
    # Initialize a Random Forest classifier with 75 trees
    forest = RandomForestClassifier(n_estimators = 50) 

    # Fit the forest to the training set, using the bag of words as 
    # features and the sentiment labels as the target variable
    forest = forest.fit(train_bag, y_train)


    train_predictions = forest.predict(train_bag)
    test_predictions = forest.predict(test_bag)
    
    train_acc = metrics.accuracy_score(y_train, train_predictions)
    valid_acc = metrics.accuracy_score(y_test, test_predictions)
    print(" The training accuracy is: ", train_acc, "\n", "The validation accuracy is: ", valid_acc)
    print()
    print('CONFUSION MATRIX:')
    print('         Predicted')
    print('          neg pos')
    print(' Actual')
    c=confusion_matrix(y_test, test_predictions)
    print('     neg  ',c[0])
    print('     pos  ',c[1])

    #Extract feature importnace
    print('\nTOP TEN IMPORTANT FEATURES:')
    importances = forest.feature_importances_
    indices = np.argsort(importances)[::-1]
    top_10 = indices[:10]
    print([vectorizer.get_feature_names()[ind] for ind in top_10])

In [134]:
#Clean the reviews in the training set 'train' using review_cleaner function defined above
# Here we use the original reviews without lemmatizing and stemming

bog = dataClean['review']
original_clean_reviews = review_cleaner(bog, lemmatize=False,stem=False)
train_predict_sentiment(cleaned_reviews=original_clean_reviews, y=dataClean["sentiment"],ngram=1,max_features=1000)

Done with 500 reviews
Done with 1000 reviews
Done with 1500 reviews
Done with 2000 reviews
Done with 2500 reviews
Done with 3000 reviews
Done with 3500 reviews
Done with 4000 reviews
Done with 4500 reviews
Done with 5000 reviews
Done with 5500 reviews
Done with 6000 reviews
Done with 6500 reviews
Done with 7000 reviews
Done with 7500 reviews
Done with 8000 reviews
Done with 8500 reviews
Done with 9000 reviews
Done with 9500 reviews
Done with 10000 reviews
Done with 10500 reviews
Done with 11000 reviews
Done with 11500 reviews
Done with 12000 reviews
Done with 12500 reviews
Done with 13000 reviews
Done with 13500 reviews
Done with 14000 reviews
Done with 14500 reviews
Done with 15000 reviews
Done with 15500 reviews
Done with 16000 reviews
Done with 16500 reviews
Done with 17000 reviews
Done with 17500 reviews
Done with 18000 reviews
Creating the bag of words model!

Training the random forest classifier!

 The training accuracy is:  0.89957788671
 The validation accuracy is:  0.684454124694

CONFUSION MATRIX:
         Predicted
          neg pos
 Actual
     neg   [1803  407]
     pos   [752 711]

TOP TEN IMPORTANT FEATURES:
['co', 'prior', 'university', 'company', 'technology', 'served', 'founded', 'founder', 'founding', 'ceo']