In [121]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model, datasets

In [143]:
df = pd.read_csv('final_data.csv', encoding = "ISO-8859-1")

In [144]:
df.head()

,Unnamed: 0,Full Name,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,...,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders,Last Funding Type,Get Series B
0,1,Elon Musk,"Chairman, Product Architect & CEO",1,14445.0,7,11,21,0,9,...,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,Post-IPO Equity,1
1,2,JB Straubel,Co-Founder and CTO,1,100.0,2,1,1,0,0,...,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,Post-IPO Equity,1
2,3,Eric Larkin,"Senior Manager, Connected Systems Engineering",1,0.0,1,0,0,0,0,...,0,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,Post-IPO Equity,1
3,4,Ze'Ev Drori,"Board of Directors, Vice Chairman",1,1.0,1,0,0,0,0,...,0,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4,Post-IPO Equity,1
4,74,Sheryl Sandberg,COO,0,3238.0,1,2,2,0,0,...,6,"Social Media, Social, Social Network",California,1,2004,0,1,5,Private Equity,1

In [145]:
sub_df = df.iloc[:,1:19]

In [146]:
sub_df.head()

,Full Name,Primary Job Title,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Number of Events_x,Categories,Headquarters Location,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders
0,Elon Musk,"Chairman, Product Architect & CEO",1,14445.0,7,11,21,0,9,6,2,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4
1,JB Straubel,Co-Founder and CTO,1,100.0,2,1,1,0,0,0,1,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4
2,Eric Larkin,"Senior Manager, Connected Systems Engineering",1,0.0,1,0,0,0,0,0,0,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4
3,Ze'Ev Drori,"Board of Directors, Vice Chairman",1,1.0,1,0,0,0,0,0,0,"Innovation Management, Automotive, Electronics",California,1,2003,0,1,4
4,Sheryl Sandberg,COO,0,3238.0,1,2,2,0,0,1,6,"Social Media, Social, Social Network",California,1,2004,0,1,5

In [147]:
y_df = df.iloc[:,20:21]

In [148]:
y_df['Get Series B']

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
27029    1
27030    0
27031    0
27032    0
27033    0
27034    0
27035    0
27036    1
27037    0
27038    0
27039    1
27040    0
27041    0
27042    0
27043    0
27044    1
27045    0
27046    0
27047    0
27048    0
27049    1
27050    0
27051    1
27052    0
27053    0
27054    0
27055    0
27056    0
27057    0
27058    0
Name: Get Series B, Length: 27059, dtype: int64

In [149]:
feature_df = sub_df.iloc[:,2:10]

In [150]:
feature_df

,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x
0,1,14445.0,7,11,21,0,9,6
1,1,100.0,2,1,1,0,0,0
2,1,0.0,1,0,0,0,0,0
3,1,1.0,1,0,0,0,0,0
4,0,3238.0,1,2,2,0,0,1
5,1,19678.0,10,6,7,0,0,0
6,0,373.0,2,0,0,0,0,0
7,1,131.0,1,14,14,0,2,0
8,1,297.0,2,1,1,0,0,0
9,1,807.0,5,9,9,0,0,1
10,1,87.0,6,12,12,2,0,3
11,0,46.0,2,0,0,0,0,0
12,0,15.0,1,4,4,0,0,0
13,1,32.0,1,0,0,0,0,0
14,1,25.0,2,1,1,0,0,0
15,1,57.0,1,2,2,0,0,0
16,1,30.0,2,0,0,0,0,0
17,1,31.0,2,0,0,0,0,0
18,1,8.0,1,3,3,0,0,0
19,0,0.0,1,0,0,0,0,0
20,1,4.0,2,0,0,0,0,0
21,1,9.0,1,1,1,0,0,0
22,1,12.0,1,1,1,0,0,0
23,1,0.0,1,0,0,0,0,0
24,1,12.0,1,0,0,0,0,0
25,1,4.0,4,0,0,0,0,0
26,1,4.0,4,0,0,0,0,0
27,1,4.0,2,0,0,0,0,0
28,1,23.0,2,0,0,0,0,0
29,1,51.0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...
27029,1,0.0,1,0,0,0,0,0
27030,0,0.0,2,0,0,0,0,0
27031,1,2.0,1,0,0,0,0,0
27032,0,1.0,1,2,2,0,0,0
27033,1,0.0,2,0,0,0,0,0
27034,0,0.0,1,0,0,0,0,0
27035,1,1.0,1,0,0,0,0,0
27036,1,1.0,1,0,0,0,0,0
27037,1,0.0,2,0,0,0,0,0
27038,1,3.0,1,0,0,0,0,0
27039,0,0.0,1,0,0,0,0,0
27040,1,0.0,1,0,0,0,0,0
27041,1,0.0,1,0,0,0,0,0
27042,1,0.0,1,0,0,0,0,0
27043,1,0.0,1,0,0,0,0,0
27044,1,1.0,1,0,0,0,0,0
27045,1,0.0,1,0,0,0,0,0
27046,1,0.0,1,0,0,0,0,0
27047,1,0.0,1,0,0,0,0,0
27048,1,0.0,2,0,0,0,0,0
27049,1,0.0,1,0,0,0,0,0
27050,1,0.0,1,0,0,0,0,0
27051,1,0.0,1,0,0,0,0,0
27052,1,0.0,1,0,0,0,0,0
27053,1,0.0,1,0,0,0,0,0
27054,1,1.0,1,0,0,0,0,0
27055,1,9.0,1,0,0,0,0,0
27056,1,0.0,1,0,0,0,0,0
27057,1,1.0,1,0,0,0,0,0
27058,1,0.0,2,0,0,0,0,0

In [151]:
feature_df2 = sub_df.iloc[:,13:]

In [152]:
feature_df2.drop(['Operating Status', 'Closed Date', 'Company Type'], axis=1)

       Founded Date  Number of Founders
0              2003                   4
1              2003                   4
2              2003                   4
3              2003                   4
4              2004                   5
5              2004                   5
6              2004                   5
7              2004                   5
8              2004                   5
9              2004                   5
10             2004                   5
11             2004                   5
12             2004                   5
13             2004                   5
14             2004                   5
15             2004                   5
16             2004                   5
17             2004                   5
18             2004                   5
19             2004                   5
20             2004                   5
21             2004                   5
22             2004                   5
23             2004                   5
24             2004                   5
25             2004                   5
26             2004                   5
27             2004                   5
28             2004                   5
29             2004                   5
...             ...                 ...
27029          2000                   2
27030          2015                   4
27031          2016                   1
27032          2014                   3
27033          2011                   2
27034          2015                   2
27035          2013                   3
27036          2010                   3
27037          2015                   2
27038          2010                   2
27039          2007                   2
27040          2012                   3
27041          2004                   1
27042          2016                   1
27043          2014                   3
27044          2012                   5
27045          2014                   3
27046          2004                   1
27047             0                   1
27048          2012                   2
27049          2008                   1
27050          2009                   2
27051          2007                   2
27052          2015                   3
27053          2009                   1
27054          2012                   3
27055          2009                   3
27056          2014                   2
27057          2003                   2
27058          2011                   2

[27059 rows x 2 columns]

In [153]:
result_df = pd.concat([feature_df, feature_df2], axis=1)

In [154]:
result_df

,Gender,Number of News Articles,Number of Founded Organizations,Number of Portfolio Companies,Number of Investments_x,Number of Partner Investments,Number of Lead Investments_x,Number of Exits_x,Operating Status,Founded Date,Closed Date,Company Type,Number of Founders
0,1,14445.0,7,11,21,0,9,6,1,2003,0,1,4
1,1,100.0,2,1,1,0,0,0,1,2003,0,1,4
2,1,0.0,1,0,0,0,0,0,1,2003,0,1,4
3,1,1.0,1,0,0,0,0,0,1,2003,0,1,4
4,0,3238.0,1,2,2,0,0,1,1,2004,0,1,5
5,1,19678.0,10,6,7,0,0,0,1,2004,0,1,5
6,0,373.0,2,0,0,0,0,0,1,2004,0,1,5
7,1,131.0,1,14,14,0,2,0,1,2004,0,1,5
8,1,297.0,2,1,1,0,0,0,1,2004,0,1,5
9,1,807.0,5,9,9,0,0,1,1,2004,0,1,5
10,1,87.0,6,12,12,2,0,3,1,2004,0,1,5
11,0,46.0,2,0,0,0,0,0,1,2004,0,1,5
12,0,15.0,1,4,4,0,0,0,1,2004,0,1,5
13,1,32.0,1,0,0,0,0,0,1,2004,0,1,5
14,1,25.0,2,1,1,0,0,0,1,2004,0,1,5
15,1,57.0,1,2,2,0,0,0,1,2004,0,1,5
16,1,30.0,2,0,0,0,0,0,1,2004,0,1,5
17,1,31.0,2,0,0,0,0,0,1,2004,0,1,5
18,1,8.0,1,3,3,0,0,0,1,2004,0,1,5
19,0,0.0,1,0,0,0,0,0,1,2004,0,1,5
20,1,4.0,2,0,0,0,0,0,1,2004,0,1,5
21,1,9.0,1,1,1,0,0,0,1,2004,0,1,5
22,1,12.0,1,1,1,0,0,0,1,2004,0,1,5
23,1,0.0,1,0,0,0,0,0,1,2004,0,1,5
24,1,12.0,1,0,0,0,0,0,1,2004,0,1,5
25,1,4.0,4,0,0,0,0,0,1,2004,0,1,5
26,1,4.0,4,0,0,0,0,0,1,2004,0,1,5
27,1,4.0,2,0,0,0,0,0,1,2004,0,1,5
28,1,23.0,2,0,0,0,0,0,1,2004,0,1,5
29,1,51.0,2,0,0,0,0,0,1,2004,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27029,1,0.0,1,0,0,0,0,0,1,2000,0,1,2
27030,0,0.0,2,0,0,0,0,0,1,2015,0,0,4
27031,1,2.0,1,0,0,0,0,0,1,2016,0,1,1
27032,0,1.0,1,2,2,0,0,0,1,2014,0,1,3
27033,1,0.0,2,0,0,0,0,0,1,2011,0,1,2
27034,0,0.0,1,0,0,0,0,0,1,2015,0,1,2
27035,1,1.0,1,0,0,0,0,0,1,2013,0,1,3
27036,1,1.0,1,0,0,0,0,0,1,2010,0,1,3
27037,1,0.0,2,0,0,0,0,0,1,2015,0,1,2
27038,1,3.0,1,0,0,0,0,0,1,2010,0,0,2
27039,0,0.0,1,0,0,0,0,0,1,2007,0,1,2
27040,1,0.0,1,0,0,0,0,0,1,2012,0,1,3
27041,1,0.0,1,0,0,0,0,0,1,2004,0,1,1
27042,1,0.0,1,0,0,0,0,0,1,2016,0,1,1
27043,1,0.0,1,0,0,0,0,0,1,2014,0,1,3
27044,1,1.0,1,0,0,0,0,0,1,2012,0,1,5
27045,1,0.0,1,0,0,0,0,0,1,2014,0,1,3
27046,1,0.0,1,0,0,0,0,0,1,2004,0,1,1
27047,1,0.0,1,0,0,0,0,0,1,0,0,1,1
27048,1,0.0,2,0,0,0,0,0,0,2012,2017,1,2
27049,1,0.0,1,0,0,0,0,0,1,2008,0,1,1
27050,1,0.0,1,0,0,0,0,0,1,2009,0,0,2
27051,1,0.0,1,0,0,0,0,0,1,2007,0,1,2
27052,1,0.0,1,0,0,0,0,0,1,2015,0,1,3
27053,1,0.0,1,0,0,0,0,0,1,2009,0,1,1
27054,1,1.0,1,0,0,0,0,0,1,2012,0,1,3
27055,1,9.0,1,0,0,0,0,0,1,2009,0,1,3
27056,1,0.0,1,0,0,0,0,0,1,2014,0,1,2
27057,1,1.0,1,0,0,0,0,0,1,2003,0,1,2
27058,1,0.0,2,0,0,0,0,0,1,2011,0,1,2

In [155]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27059 entries, 0 to 27058
Data columns (total 13 columns):
Gender                             27059 non-null int64
Number of News Articles            27059 non-null float64
Number of Founded Organizations    27059 non-null int64
Number of Portfolio Companies      27059 non-null int64
Number of Investments_x            27059 non-null int64
Number of Partner Investments      27059 non-null int64
Number of Lead Investments_x       27059 non-null int64
Number of Exits_x                  27059 non-null int64
Operating Status                   27059 non-null int64
Founded Date                       27059 non-null int64
Closed Date                        27059 non-null int64
Company Type                       27059 non-null int64
Number of Founders                 27059 non-null int64
dtypes: float64(1), int64(12)
memory usage: 2.7 MB

In [156]:
#result_df['Number of News Articles'] = result_df['Number of News Articles'].astype(float)

In [157]:
y_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27059 entries, 0 to 27058
Data columns (total 1 columns):
Get Series B    27059 non-null int64
dtypes: int64(1)
memory usage: 211.5 KB

# Try logreg, rf, perceptron, SVM...

In [158]:
X = result_df
Y = y_df

In [159]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=100)
print ('Number of samples in training data:',len(x_train))
print ('Number of samples in validation data:',len(x_test))

Number of samples in training data: 21647
Number of samples in validation data: 5412

In [160]:
# RF

from sklearn.ensemble import RandomForestClassifier

## Initialize a Random Forest classifier with 50 trees
# hyperparameter n_estimators always set in instantiation

forest = RandomForestClassifier(n_estimators = 50)

In [161]:
%%time
# Fit the forest to the training set, using the bag of words as 
# features and the sentiment labels as the target variable

forest = forest.fit(x_train, y_train) # can take 2 mins to run

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

CPU times: user 636 ms, sys: 41.1 ms, total: 677 ms
Wall time: 763 ms

In [162]:
#Make predictions

train_predictions = forest.predict(x_train)
valid_predictions = forest.predict(x_test)

In [163]:
# Accuracy

metrics.accuracy_score(y_train,train_predictions)

0.86640181087448609

In [164]:
metrics.accuracy_score(y_test,valid_predictions)

0.75905395417590538

In [165]:
# Confusion matrix
# Is the number of False Positives and True negatives approx 50/50?
metrics.confusion_matrix(y_test,valid_predictions)

array([[3298,  492],
       [ 812,  810]])

In [166]:
importances = forest.feature_importances_
# returns relative importance of all features.
# they are in the order of the columns
print(importances)

[ 0.0160778   0.26958271  0.04680179  0.01985405  0.02033748  0.01178829
  0.00357935  0.00870142  0.00565575  0.45416537  0.00488689  0.02610325
  0.11246585]

In [167]:
# Logreg

# Name our regression object
logreg = linear_model.LogisticRegression(C=1e5)

# we create an instance of Neighbours Classifier and fit the data.
logreg.fit(x_train, y_train)

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [168]:
train_predictions_lg = logreg.predict(x_train)
valid_predictions_lg = logreg.predict(x_test)

In [169]:
# Accuracy

metrics.accuracy_score(y_train,train_predictions_lg)

0.70642583267889314

In [170]:
metrics.accuracy_score(y_test,valid_predictions_lg)

0.70121951219512191

In [171]:
# Confusion matrix
# Is the number of False Positives and True negatives approx 50/50?
metrics.confusion_matrix(y_test,valid_predictions_lg)

array([[3756,   34],
       [1583,   39]])

In [ ]:
# SVM

from sklearn.svm import SVC

model = SVC()

model.fit(x_train, y_train)

/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
train_predictions_svm = model.predict(x_train)
valid_predictions_svm = model.predict(x_test)

In [ ]:
# Accuracy

metrics.accuracy_score(y_train,train_predictions_svm)

In [ ]:
metrics.accuracy_score(y_test,valid_predictions_svm)

In [ ]:
model.score(x_train, y_train)
#Predict Output
predicted= model.predict(x_test)